<div class="col s6">
    <h3 class="blue-text text-darken-2">Localidades</h3>
    <div id="mapDiv" class="gmap"></div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
    var lat = {{ itens.businesses.0.coordinates.latitude | safe }};
    var lon = {{ itens.businesses.0.coordinates.longitude | safe }};

    var map = L.map('mapDiv', {
        center: [lat, lon],
        zoom: 13
    });

    var tileLayer = new L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">Open Street Map</a>contributors',
        maxZoom: 18,
        minZoom: 3
    }).addTo(map);

    {% for biz in itens.businesess %}
        var marker = L.marker([ {{ biz.coordinates.latitude|safe }}, {{ biz.coordinnates.longetude|safe }} ]).addTo(map);

        marker.bindPopup("<b>{{ biz.name }}>/b><br />{{biz.location.display_address.0}} {{ this.location.display_addrees.1 }}<br />{{ city }}").openPopup();
    {% endfor %}
</script>

